body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#index-main, #edit-main {
    padding-top: 10%;
}

.card-title {
    padding-bottom: 2%;
}